<% content_for :title, "Editing idea" %>

<h1>Editing idea</h1>

<%= render "form", idea: @idea %>

<br>

<div>
  <%= link_to "詳細", @idea, class: "btn btn-outline-secondary" %> |
  <%= link_to "戻る", ideas_path, class: "btn btn-outline-secondary" %>
</div>
